@import "fonts.css";

/* Variables */
:root {
  /* Colors */
  --black: #000000;
  --basic-black: #2c2b29;
  --basic-white: #fefefe;
  --violet-main: #666fa8;
  --violet-pastel: #97a2e1;
  --violet-blue: #606fc2;
  --dark-gray: #676a74;
  --img-bg: #d9d9d9;
  --red: #fb2e42;
  --yellowgreen: rgba(181, 239, 46, 0.7);
}

/* Global */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.page-body {
  display: grid;
  /* minmax(7rem, 18rem) */
  grid-template-rows: max-content 1fr minmax(25.8rem, 37rem);
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.3rem;
  background-color: var(--violet-main);
}

.page-title {
  font-family: "VremenaGrotesk", sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--basic-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 155rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  padding: 1rem;
  font-family: Aqum, "Comic Sans", cursive;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-decoration: none;
  transition: all 0.3s linear;
}

.link-dark {
  color: var(--basic-black);
}

.link-light {
  color: var(--basic-white);
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: Aqum, "Comic Sans", cursive;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  padding: 1rem 5.2rem;
  font-family: Aqum, "Comic Sans", cursive;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--basic-white);
  border-radius: 3rem;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.section {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.section-dark {
  background-color: var(--violet-main);
}

.section-light {
  background-color: var(--basic-white);
}

.section-title {
  margin: 0;
  margin-bottom: 4rem;
  padding: 0;
  font-size: 6rem;
  line-height: 9rem;
}

.section-intro {
  margin: 0;
  margin-bottom: 4rem;
  font-family: Aqum, "Comic Sans", cursive;
  font-size: 3rem;
  line-height: 120%;
}

/* Header */
.header-top {
  padding-top: 3.3rem;
  padding-bottom: 2.3rem;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-links-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.links-bar-link {
  position: relative;
  padding-left: 5.2rem;
  transition: all 0.3s linear;
}

/*TODO hover*/
.links-bar-link:hover {
  text-decoration: underline;
}

.links-bar-link::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(50%);
}

.email-link {
  margin-right: 3.9rem;
}

.email-link::before {
  background-image: url(../assets/images/icons/email-icon.svg);
}

.phone-link {
  margin-right: 7.9rem;
}

.phone-link::before {
  background-image: url(../assets/images/icons/phone-icon.svg);
}

.social-link-telegram {
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  margin-right: 8.9rem;
  background-image: url(../assets/images/icons/telegram-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.social-link-vkontakte {
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  background-image: url(../assets/images/icons/vkontakte-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.page-nav {
  padding: 1.5rem;
  background-color: var(--basic-white);
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 5rem;
  max-width: calc(100% - 31.6rem);
}

.tohelp-btn {
  padding-top: 1.3rem;
  padding-inline: 5.2rem;
  padding-bottom: 1.1rem;
  background-color: var(--red);
}

/* Tohelp section */
.tohelp-title {
  font-size: 7rem;
}

/* Slider */
.slider {
  width: 100%;
  aspect-ratio: 1519 / 690;
  position: relative;
  overflow: hidden;
}

.slides {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* TODO - define column-gap */
  column-gap: 14rem;

  border-radius: 1rem;
}

.article-img {
  max-width: auto;
  max-height: 100%;
  border-radius: 1rem;
  z-index: -1;
  object-fit: cover;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  max-height: 100%;
  margin-left: auto;
  padding-block: 3rem;
  padding-inline: 3.5rem;
  font-size: 2.5rem;
  line-height: 3.6rem;
  background-color: var(--basic-white);
  border-radius: 1rem;
  box-shadow: 4px 4px 4px rgba(82, 91, 146, 0.5);
}

.article-content p {
  margin: 0;
}

.hero-age {
  font-family: Aqum, "Comic Sans", cursive;
}

.hero-diagnosis,
.hero-needs {
  align-self: flex-start;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
}

.fundraising {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  text-align: center;
}

.fundraising-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.fundraising-sum {
  min-width: 27rem;
  padding-block: 1rem;
  font-family: Aqum, "Comic Sans", cursive;
  background-color: var(--violet-pastel);
  border-radius: 0.7rem;
}

.labels {
  width: 100%;
  height: 2.5rem;
  position: absolute;
  bottom: -1rem;
  display: flex;
  justify-content: center;
  gap: 1.8rem;
  padding-bottom: 1rem;
}

.labels label {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--violet-pastel);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.labels label.checked {
  width: 2.5rem;
  height: 2.5rem;
  background: var(--dark-gray);
  cursor: default;
}

input[type="radio"] {
  display: none;
}

#s-1:checked ~ .slides .slide:nth-child(1) {
  transform: translateX(0);
}

#s-2:checked ~ .slides .slide:nth-child(2) {
  transform: translateX(0);
}

#s-3:checked ~ .slides .slide:nth-child(3) {
  transform: translateX(0);
}
#s-4:checked ~ .slides .slide:nth-child(4) {
  transform: translateX(0);
}
#s-5:checked ~ .slides .slide:nth-child(5) {
  transform: translateX(0);
}
#s-6:checked ~ .slides .slide:nth-child(6) {
  transform: translateX(0);
}
#s-7:checked ~ .slides .slide:nth-child(7) {
  transform: translateX(0);
}
#s-8:checked ~ .slides .slide:nth-child(8) {
  transform: translateX(0);
}
#s-9:checked ~ .slides .slide:nth-child(9) {
  transform: translateX(0);
}
#s-10:checked ~ .slides .slide:nth-child(10) {
  transform: translateX(0);
}

.labels label:hover {
  opacity: 1;
}

.labels label {
  cursor: pointer;
}

/* Links section */
.links {
  padding-top: 10rem;
}

.links-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.links-item {
  flex: 0 0 376px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 2.2rem;
  padding-right: 2.8rem;
  padding-bottom: 2.2rem;
  padding-left: 2.8rem;
  background-color: var(--basic-white);
  box-shadow: 4px 4px 4px 4px #97a2e1;
  border-radius: 15px;
}

.links-item:hover {
  cursor: pointer;
}

.links-border {
  width: 32rem;
  height: 19rem;
  position: relative;
  background-color: transparent;
  border: 1.2rem solid transparent;
  border-image: url(../assets/images/content/link-border.svg) 15 round;
  border-radius: 1.2rem;
  z-index: 2;
}

/* .links-bg {
  width: 32rem;
  height: 19rem;
  position: relative;
  background-color: transparent;
  border-top: 1rem solid var(--basic-white);
  border-left: 1rem solid var(--basic-white);
  border-radius: 1.2em;
} */

.links-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29.7rem;
  height: 17.2rem;
  position: absolute;
  top: 4.4rem;
  left: 6.3rem;
  font-weight: 900;
  font-size: 3rem;
  line-height: 120%;
  color: var(--basic-white);
  background-color: var(--violet-pastel);
  border-radius: 0.7rem;
}

/* Gethelp section */
.gethelp-form {
  max-width: 132.8rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.gethelp-input,
.gethelp-message {
  width: 100%;
  box-sizing: border-box;
}

.gethelp-input {
  margin-bottom: 1.6rem;
  padding-block: 1rem;
}

.gethelp-message {
  margin-bottom: 4rem;
}

::placeholder {
  padding-top: 1rem;
  padding-left: 4rem;
}

.user-docs-label {
  width: 100%;
  display: flex;
  height: 4.2rem;
  margin-bottom: 3rem;
  background-image: url(../assets/images/icons/download-icon.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.user-docs-input {
  display: none;
}

.user-docs-text,
.gethelp-questions,
.gethelp-agreement {
  margin: 0;
  padding-left: 8.2rem;
  color: var(--basic-black);
}

.gethelp-questions {
  margin-bottom: 4rem;
}

.gethelp-link {
  font-weight: 400;
  color: var(--basic-black);
}

.gethelp-btn {
  justify-self: start;
  margin-bottom: 1.3rem;
  color: var(--red);
  border: 0.2rem solid var(--red);
  cursor: pointer;
}

.gethelp-agreement {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 119%;
}

/* Team-section */
.team-title {
  margin-bottom: 1rem;
  font-size: 4rem;
  line-height: 150%;
}

.team-intro {
  text-align: center;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 3.5rem;
  margin-bottom: 4rem;
}

.team-member {
  width: 40rem;
  height: 20rem;
  padding-block: 3.2rem;
  padding-left: 2.9rem;
  background: var(--basic-white);
  box-shadow: 0.4rem 0.4rem 0.4rem 0.4rem rgba(82, 91, 146, 0.5);
  border-radius: 1rem;
  box-sizing: border-box;
  text-align: left;
}

.team-member:first-child {
  margin-left: calc((1550px - 50px - (400px * 2)) / 2);
}

.team-member:nth-child(3) {
  margin-left: calc((1550px - (50px * 2) - (400px * 3)) / 2);
}

.member-photo {
  float: left;
  margin-right: 1.5rem;
  border: 0.3rem solid var(--dark-gray);
  border-radius: 50%;
  shape-outside: circle(50% at 50% 50%);
}

.member-name {
  text-align: left;
  padding-top: 6.1rem;
}

.team-subtitle {
  margin-bottom: 2rem;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--black);
  text-transform: none;
}

.cta-block {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 7rem;
  max-width: 107rem;
  margin: 0 auto;
  margin-bottom: 4.4rem;
  text-align: left;
}

.cta-text {
  max-width: 50rem;
  margin: 0;
}

.cta-btn {
  color: var(--violet-main);
  border: 0.3rem solid var(--violet-main);
}

/* Whatishelp section */
.whatishelp {
  text-align: center;
}

.whatishelp-title {
  margin-bottom: 1.5rem;
}

.whatishelp-intro {
  font-size: 4rem;
  line-height: 150%;
}

.cards-swiper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 14.5rem;
  margin-bottom: 3rem;
}

.card {
  max-width: 27rem;
  min-height: 30rem;
  padding-block: 1.5rem;
  padding-inline: 3rem;
  background-color: var(--basic-white);
  box-sizing: border-box;
  border-radius: 1rem;
  cursor: grab;
}

.card-title {
  width: 20rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 119%;
  letter-spacing: -0.1rem;
}

.card-img {
  width: 15rem;
  height: 15rem;
  margin-bottom: 2rem;
  background-color: var(--img-bg);
  border-radius: 0.7rem;
}

.card-desc {
  margin: 0;
  font-size: 1.4rem;
  line-height: 114%;
  text-align: left;
  color: var(--basic-black);
}

.swiper-controls {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14.3rem;
}

.swiper-btn {
  width: 5.8rem;
  height: 4rem;
  background-color: transparent;
  background-image: url(../assets/images/icons/arrow-icon.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.swiper-btn-prev {
  transform: rotate(180deg);
}

.cta-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14rem;
}

.cta-btn-no-border {
  border: none;
}

.partner-btn {
  color: var(--basic-white);
  background-color: var(--violet-blue);
}

/* Footer */
.footer-container {
  position: relative;
}

/* Scroll to top button */
.scroll-up {
  /* display: none; */
  width: 4.2rem;
  height: 4.2rem;

  /* position: fixed;
  bottom: 50px;
  right: 0px; */

  fill: var(--basic-white);
  stroke: var(--dark-gray);
  cursor: pointer;
  transition: all 0.3s linear;
}

.scroll-up:hover {
  fill: var(--violet-pastel);
}
