@import "fonts.css";

/* Variables */
:root {
  /* Colors */
  --basic-black: #2c2b29;
  --basic-white: #fefefe;
  --violet-main: #666fa8;
  --violet-pastel: #97a2e1;
  --violet-blue: #606fc2;
  --dark-gray: #676a74;
  --red: #fb2e42;
  --yellowgreen: rgba(181, 239, 46, 0.7);
}

/* Global */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.page-body {
  display: grid;
  /* minmax(7rem, 18rem) */
  grid-template-rows: max-content 1fr minmax(25.8rem, 37rem);
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.3rem;
  background-color: var(--violet-main);
}

.page-title {
  font-family: "VremenaGrotesk", sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--basic-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 155rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  padding: 1rem;
  font-family: Aqum, "Comic Sans", cursive;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-decoration: none;
  transition: all 0.3s linear;
}

.link-dark {
  color: var(--basic-black);
}

.link-light {
  color: var(--basic-white);
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Aqum, "Comic Sans", cursive;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  padding: 1rem 5.2rem;
  font-family: Aqum, "Comic Sans", cursive;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--basic-white);
  border-radius: 3rem;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.section {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.section-dark {
  background-color: var(--violet-main);
}

.section-light {
  background-color: var(--basic-white);
}

.section-title {
  margin: 0;
  padding: 0;
  font-size: 6rem;
  line-height: 9rem;
}

/* Header */
.header-top {
  padding-top: 3.3rem;
  padding-bottom: 2.3rem;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-links-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.links-bar-link {
  position: relative;
  padding-left: 5.2rem;
  transition: all 0.3s linear;
}

/*TODO hover*/
.links-bar-link:hover {
  text-decoration: underline;
}

.links-bar-link::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(50%);
}

.email-link {
  margin-right: 3.9rem;
}

.email-link::before {
  background-image: url(../assets/images/icons/email-icon.svg);
}

.phone-link {
  margin-right: 7.9rem;
}

.phone-link::before {
  background-image: url(../assets/images/icons/phone-icon.svg);
}

.social-link-telegram {
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  margin-right: 8.9rem;
  background-image: url(../assets/images/icons/telegram-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.social-link-vkontakte {
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  background-image: url(../assets/images/icons/vkontakte-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.page-nav {
  padding: 1.5rem;
  background-color: var(--basic-white);
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 5rem;
  max-width: calc(100% - 31.6rem);
}

.tohelp-btn {
  padding-top: 1.3rem;
  padding-inline: 5.2rem;
  padding-bottom: 1.1rem;
  background-color: var(--red);
}
