@import "fonts.css";

/* Variables */
:root {
  /* Colors */
  --black: #000000;
  --basic-black: #2c2b29;
  --basic-white: #fefefe;
  --violet-main: #666fa8;
  --violet-pastel: #97a2e1;
  --violet-blue: #606fc2;
  --filled-btn-hover: #97a2e1;
  --outline-btn-hover: #606fc2;
  --dark-gray: #676a74;
  --img-bg: #d9d9d9;
  --red: #fb2e42;
  --red-hover: rgba(251, 46, 66, 0.5);
  --red-disabled: #ff8a80;
  --yellowgreen: rgba(181, 239, 46, 0.7);
}

/* Global */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.page-body {
  display: grid;
  grid-template-rows: max-content 1fr min-content;
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.3rem;
  background-color: var(--violet-main);
}

.page-title {
  font-family: "VremenaGrotesk", sans-serif;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--basic-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 155rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

.container-small {
  max-width: 123rem;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  /* padding: 1rem; */
  font-family: Aqum, "Comic Sans", cursive;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-decoration: none;
  transition: all 0.3s linear;
}

.link-dark {
  color: var(--basic-black);
}

.link-dark:hover {
  color: var(--dark-gray);
}

.link-dark:active {
  filter: blur(2px);
}

.link-light {
  color: var(--basic-white);
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: Aqum, "Comic Sans", cursive;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.btn {
  padding: 1rem 5.2rem;
  font-family: Aqum, "Comic Sans", cursive;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--basic-white);
  border-radius: 3rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.section {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.section-dark {
  background-color: var(--violet-main);
}

.section-light {
  background-color: var(--basic-white);
}

.section-title {
  margin: 0;
  margin-bottom: 4rem;
  padding: 0;
  font-size: 6rem;
  line-height: 150%;
}

.section-title-small {
  font-size: 4rem;
}

.section-intro {
  margin: 0;
  margin-bottom: 4rem;
  font-family: Aqum, "Comic Sans", cursive;
  font-size: 3rem;
  line-height: 120%;
}

.section-text {
  margin: 0;
  margin-bottom: 3.6rem;
}

.bold {
  font-weight: 500;
}

/* Header */
.header-top {
  padding-top: 3.3rem;
  padding-bottom: 2.3rem;
}

.header-top.closed {
  display: none;
}

.header-container {
  display: grid;
  grid-template-columns: 230px 1fr;
}

.header-links-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.links-bar-link {
  position: relative;
  padding: 1rem;
  padding-left: 5.2rem;
  transition: all 0.3s linear;
}

.links-bar-link:hover {
  color: var(--black);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.links-bar-link::before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0;
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(50%);
}

.email-link {
  margin-right: 3.9rem;
}

.email-link::before {
  background-image: url(../assets/images/icons/email-icon.svg);
}

.phone-link {
  margin-right: 7.9rem;
}

.phone-link::before {
  background-image: url(../assets/images/icons/phone-icon.svg);
}

.social-link-telegram {
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  margin-right: 8.9rem;
  background-image: url(../assets/images/icons/telegram-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.social-link-vkontakte {
  display: block;
  width: 4.2rem;
  height: 4.2rem;
  padding-left: 0;
  background-image: url(../assets/images/icons/vkontakte-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.page-nav {
  position: fixed;
  top: 125px;
  left: 0;
  right: 0;
  z-index: 4;
  padding: 1.5rem;
  background-color: var(--basic-white);
}

.inner .page-nav {
  display: none;
}

.mobile-menu {
  display: none;
}

.mobile-menu.opened {
  display: block;
}

.burger {
  display: none;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr max-content;
  column-gap: 9rem;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.tohelp-btn {
  padding-top: 1.3rem;
  padding-inline: 5.2rem;
  padding-bottom: 1.1rem;
  background-color: var(--red);
  border: none;
}

/* Tohelp section */
.tohelp {
  padding-top: 12rem;
}

.tohelp-title {
  font-size: 7rem;
}

/* Slider */

.slider {
  -ms-overflow-style: none;
  width: 100%;
  position: relative;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.slides {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.slide-wrap {
  display: inline-block;
  position: relative;
  margin: 6rem;
}

.slide {
  width: max-content;
  height: max-content;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 14rem; /* 140px / 1520px */
  border-radius: 1rem;
  position: relative;
  scroll-snap-align: center;
}

.viewport-wrap {
  position: relative;
}

.slider-nav {
  display: flex;
  gap: 1.8rem;
  position: absolute;
  bottom: 0;
  left: -5rem;
  right: 0;
  justify-content: center;
}

.slider-nav-item {
  background-color: var(--violet-pastel);
  width: 25px;
  height: 25px;
  font-size: 0;
  border-radius: 50%;
  display: inline-block;
  font-size: 0;
  cursor: pointer;
}

.checked {
  background-color: var(--dark-gray);
}

.article-img {
  z-index: 1;
  width: 730px; /* 800px / 1520px = 52.6315% */
  height: 589px;
  border-radius: 1rem;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  height: 58.9rem;
  padding-block: 3rem;
  padding-inline: 3.5rem;
  font-size: 2.5rem;
  line-height: 3.6rem;
  background-color: var(--basic-white);
  border-radius: 1rem;
  box-shadow: 4px 4px 4px rgba(82, 91, 146, 0.5);
  box-sizing: border-box;
  width: 55.4rem;
}

.article-content p {
  margin: 0;
}

.hero-age {
  font-family: Aqum, "Comic Sans", cursive;
}

.hero-diagnosis,
.hero-needs {
  align-self: flex-start;
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 400;
}

.fundraising {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  text-align: center;
}

.fundraising-amount {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.fundraising-sum {
  min-width: 27rem;
  padding-block: 1rem;
  font-family: Aqum, "Comic Sans", cursive;
  background-color: var(--violet-pastel);
  border-radius: 0.7rem;
}

input[type="radio"] {
  display: none;
}

/* Links section */
.links {
  padding-top: 10rem;
}

.links-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.links-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 2.2rem;
  padding-right: 1.8rem;
  padding-bottom: 2.2rem;
  padding-left: 1.8rem;
  background-color: var(--basic-white);
  box-shadow: 4px 4px 4px 4px var(--filled-btn-hover);
  border-radius: 15px;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.links-item:hover {
  box-shadow: 6px 6px 12px 6px var(--filled-btn-hover);
}

.links-item:active {
  filter: blur(3px);
}

.links-border {
  width: 32rem;
  height: 19rem;
  position: relative;
  background-color: transparent;
  border: 1.2rem solid transparent;
  border-image: url(../assets/images/content/link-border.svg) 15 round;
  border-radius: 1.2rem;
  z-index: 2;
}

.link-bg {
  width: 32rem;
  height: 19.2rem;
  background-color: var(--violet-pastel);
  position: absolute;
  top: 44px;
  left: 40px;
  border-radius: 1rem;
  z-index: 0;
}

.links-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29.7rem;
  height: 17.2rem;
  position: absolute;
  top: 4.4rem;
  left: 6.3rem;
  font-weight: 900;
  font-size: 3rem;
  line-height: 120%;
  color: var(--basic-white);
  border-radius: 0.7rem;
  z-index: 3;
}

/* Gethelp section */
.gethelp-form {
  max-width: 132.8rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.form-input,
.form-message {
  width: 100%;
  padding-top: 1rem;
  padding-left: 4rem;
  background-color: var(--basic-white);
  border-color: transparent;
  border-radius: 0.4rem;
  box-sizing: border-box;
}

.form-input {
  margin-bottom: 1.6rem;
  padding-block: 1rem;
}

.form-message {
  margin-bottom: 4rem;
}

.user-docs-label {
  width: 100%;
  display: flex;
  height: 4.2rem;
  margin-bottom: 3rem;
  background-image: url(../assets/images/icons/download-icon.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.user-docs-input {
  display: none;
}

.user-docs-text,
.gethelp-questions,
.gethelp-agreement {
  margin: 0;
  padding-left: 6.2rem;
  color: var(--basic-black);
}

.gethelp-questions {
  margin-bottom: 4rem;
}

.agreement-link {
  font-weight: 400;
  color: var(--basic-black);
}

.gethelp-btn {
  margin-bottom: 1.3rem;
  color: var(--red);
  border: 0.2rem solid var(--red);
  cursor: pointer;
}

button[type="submit"] {
  justify-self: start;
}

.agreement {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 119%;
}

/* Team-section */
.team {
  text-align: center;
}

.team-title {
  margin-bottom: 1rem;
}

.team-intro {
  text-align: center;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 3.5rem;
  margin-bottom: 4rem;
}

.team-member {
  width: 40rem;
  height: 20rem;
  padding-block: 3.2rem;
  padding-left: 2.9rem;
  background: var(--basic-white);
  box-shadow: 0.4rem 0.4rem 0.4rem 0.4rem rgba(82, 91, 146, 0.5);
  border-radius: 1rem;
  box-sizing: border-box;
  text-align: left;
}

.team-member:first-child {
  margin-left: calc((1550px - 50px - (400px * 2)) / 2);
}

.team-member:nth-child(3) {
  margin-left: calc((1550px - (50px * 2) - (400px * 3)) / 2);
}

.member-photo {
  float: left;
  margin-right: 1.5rem;
  border: 0.3rem solid var(--dark-gray);
  border-radius: 50%;
  shape-outside: circle(50% at 50% 50%);
}

.member-name {
  text-align: left;
  padding-top: 6.1rem;
}

.team-subtitle {
  margin-bottom: 2rem;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--black);
  text-transform: none;
}

.cta-block {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 7rem;
  max-width: 107rem;
  margin: 0 auto;
  margin-bottom: 4.4rem;
  text-align: left;
}

.cta-text {
  max-width: 50rem;
  margin: 0;
}

.cta-btn {
  background-color: var(--basic-white);
  color: var(--violet-main);
  border: 0.3rem solid var(--violet-main);
}

/* Whatishelp section */
.whatishelp {
  text-align: center;
}

.whatishelp-title {
  margin-bottom: 1.5rem;
}

.whatishelp-intro {
  font-size: 4rem;
  line-height: 150%;
}

.cards-swiper::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.btn-inactive {
  pointer-events: none;
  opacity: 0.35;
}

.scroll-container {
  scroll-behavior: smooth;
}

.cards-swiper {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  column-gap: 14.5rem;
  margin-bottom: 3rem;
}

.card {
  user-select: none;
  max-width: 27rem;
  min-height: 30rem;
  padding-block: 1.5rem;
  padding-inline: 3rem;
  background-color: var(--basic-white);
  box-sizing: border-box;
  border-radius: 1rem;
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.card-title {
  width: 20rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  line-height: 119%;
  letter-spacing: -0.1rem;
}

.card-img {
  width: 15rem;
  height: 15rem;
  margin-bottom: 2rem;
  background-color: var(--img-bg);
  border-radius: 0.7rem;
}

.card-desc {
  margin: 0;
  font-size: 1.4rem;
  line-height: 114%;
  text-align: left;
  color: var(--basic-black);
}

.swiper-controls {
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14.3rem;
}

.swiper-btn {
  width: 5.8rem;
  height: 4rem;
  background-color: transparent;
  background-image: url(../assets/images/icons/arrow-icon.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.swiper-btn-prev {
  transform: rotate(180deg);
}

.cta-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 14rem;
}

.cta-btn-no-border {
  border: none;
}

.partner-btn {
  color: var(--basic-white);
  background-color: var(--violet-blue);
}

.gratitude-text {
  display: none;
}

/* Forpartners section */
.forpartners-title {
  margin-bottom: 0;
}

.forpartners-intro {
  max-width: 93.2rem;
  margin: 0 auto;
  margin-bottom: 5.3rem;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  color: var(--black);
}

.forpartners-cta-block {
  column-gap: 17.5rem;
  max-width: 100%;
  margin: 0;
  margin-bottom: 3.8rem;
}

.forpartners-cta-block .cta-text {
  min-width: 57.3rem;
}

.cta-subtitle {
  max-width: 67.3rem;
  margin-bottom: 2.5rem;
  font-family: Aqum, "Comic Sans", cursive;
  font-size: 1.8rem;
}

.partners-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 100.5rem;
}

.partners-form-input,
.partners-form-message {
  border: 0.1rem solid var(--dark-gray);
}

.partner-agreement {
  padding-left: 4rem;
}

/* Contacts section */
.contacts-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: 400;
  color: var(--basic-white);
}

.contacts-map {
  grid-column: 1 / span 1;
  grid-row: 1 / 3;
}

.kind-heart-contacts {
  grid-column: 2 / -1;
}

.kind-heart-address-info,
.humanitarian-center-info,
.schedule {
  display: flex;
  flex-direction: column;
  max-width: 43.9rem;
}

.address-subtitle {
  margin-bottom: 2.4rem;
}

.address-name,
.address-full {
  margin-bottom: 1.1rem;
}

.fund-manager {
  margin-bottom: 1rem;
}

.address-link {
  color: inherit;
}

.address-email {
  margin-bottom: 1.3rem;
  font-size: 1.6rem;
  line-height: 100%;
}

.address-phone {
  text-decoration: none;
}

.humanitarian-center-contacts {
  grid-column: 2 / -1;
}

.bank-details {
  display: flex;
  flex-direction: column;
  max-width: 62.6rem;
  padding-block: 2.2rem;
  padding-inline: 2.4rem;

  color: var(--black);
  background-color: var(--basic-white);
  border-radius: 1rem;
  box-sizing: border-box;
}

.bank-title,
.socials-title {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.socials {
  align-self: center;
}

.socials-title {
  margin-bottom: 1.2rem;
  font-size: 2rem;
  line-height: 114%;
}

.socials-list {
  display: flex;
  column-gap: 2rem;
}

/* Footer */
.page-footer {
  padding-top: 8.1rem;
  padding-bottom: 10.9rem;
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.footer-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright-pic {
  width: 3.1rem;
  height: 3.1rem;
  background-image: url(../assets/images/content/copyright.svg);
  background-repeat: no-repeat;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 87.2rem;
  gap: 2.2rem 1.8rem;
}

.footer-nav-link {
  font-family: Aqum, "Comic Sans", cursive;
  font-size: 1.8rem;
  line-height: 128%;
  color: var(--basic-white);
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-nav-link:hover {
  color: var(--violet-pastel);
}

.mobile-menu-link:hover {
  color: var(--dark-gray);
}

.footer-nav-link:active,
.mobile-menu-link:active {
  filter: blur(2px);
}

/* Scroll to top button */
.scroll-to-top {
  position: relative;
}

.scroll-up {
  width: 4.2rem;
  height: 4.2rem;

  position: fixed;
  bottom: 12rem;
  right: 20.5rem;

  fill: var(--basic-white);
  stroke: var(--dark-gray);
  cursor: pointer;
  transition: all 0.3s linear;
}

.scroll-up:hover {
  fill: var(--violet-pastel);
}

.inner .scroll-to-top {
  text-align: right;
}

/* Interactivity states */
.btn:active {
  filter: blur(2px);
}

.btn:disabled {
  box-shadow: none;
  cursor: not-allowed;
}

.disabled {
  pointer-events: none;
}

.tohelp-btn:hover {
  box-shadow: 4px 4px 7px var(--red-hover), -4px -4px 7px var(--red-hover);
}

.tohelp-btn.disabled {
  background-color: var(--red-disabled);
}

.btn-outline:hover {
  box-shadow: 4px 4px 7px var(--outline-btn-hover),
    -4px -4px 7px var(--outline-btn-hover);
  box-shadow: 4px 4px 7px var(--filled-btn-hover),
    -4px -4px 7px var(--filled-btn-hover);
}

.partner-btn:hover {
  box-shadow: 4px 4px 7px var(--filled-btn-hover),
    -4px -4px 7px var(--filled-btn-hover);
}

.gethelp-btn:hover {
  box-shadow: 4px 4px 7px var(--red-hover), -4px -4px 7px var(--red-hover);
}

.gethelp-btn.disabled {
  color: var(--red-disabled);
  border-color: var(--red-disabled);
}

.cta-btn.disabled {
  color: var(--violet-pastel);
  border-color: var(--violet-pastel);
}

.partner-btn.disabled {
  background-color: var(--violet-pastel);
}

.swiper-btn:hover {
  transform: scale(1.1);
}

.swiper-btn-prev:hover {
  transform: rotate(180deg) scale(1.1);
}

.swiper-btn:active {
  filter: blur(2px);
}

/* Inner page about */
.intro-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
}

.fund-name {
  grid-column: 1 / -1;
  font-size: 3rem;
  line-height: 140%;
  font-weight: 500;
  color: var(--basic-black);
}

.goal-text {
  margin-top: 0;
}

.intro-img {
  grid-column: 2 / -1;
  grid-row: 3 / span 2;
}

.intro-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 4px 4px 20px 5px rgba(8, 14, 47, 0.25);
}

.intro-goal-and-mission {
  grid-row: 3 / 4;
  margin-bottom: 2.5rem;
}

.mission-text {
  margin: 0;
}

.btns-block {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 8.5rem;
}

.link-more {
  padding: 0;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--basic-black);
  text-decoration: underline;
}

.gratitudes {
  background: radial-gradient(
    circle at center,
    var(--violet-pastel) 0,
    var(--basic-white) 50%
  );
}

.gratitudes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.gratitudes .volunteer-btn {
  display: none;
}

.gratitudes .events-container,
.humanitarian-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-img {
  display: block;
  margin-bottom: 4.8rem;
  text-align: center;
}

.events .btns-block {
  width: 85%;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.programms-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, max-content) 10rem;
  column-gap: 14rem;
  row-gap: 4rem;
}

.programms-img {
  grid-row: 1 / 3;
}

.text-block-1 {
  grid-column: 1 / 2;
}

.text-block-2 {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.section-img-block {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
  position: relative;
}

.programms-img-2 {
  position: absolute;
  top: 24.4rem;
  left: -13.2rem;
}

.inner-wrap {
  max-width: 130.4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volunteer-image {
  margin-bottom: 2.5rem;
}

.text-block-3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.text-block-3 .section-text {
  max-width: 55rem;
}

.span-cta {
  display: block;
  margin-top: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.inner-wrap .volunteer-btn {
  align-self: flex-start;
}

/* VIDEO */

video {
  margin: 2.7rem;
}

.video-humanitarian,
.video-events {
  max-width: 840px;
  max-height: 530px;
}

/* HUMANITARIAN */

.emph {
  color: var(--red);
  font-style: normal;
}

.emph-alt {
  color: var(--violet-blue);
}

.center {
  text-align: center;
}

.humanitarian-title {
  margin-bottom: 1.5rem;
}

.humanitarian-center p {
  margin-bottom: 1rem;
}

.humanitarian-center .section-title,
.humanitarian-center .emph-alt {
  margin-bottom: 2.5rem;
}

.humanitarian-intro {
  font-size: 2.5rem;
}

.humantiarian-wrap {
  padding: 0 5rem;
}

.humantiarian-wrap p {
  margin-bottom: 2.7rem;
}

.btn-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr max-content;
  align-items: center;
}

.humanitarian-center-info {
  margin: 0;
}

.humanitarian-center-contacts {
  margin: 2rem 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  column-gap: 10rem;
  row-gap: 6rem;
  margin-bottom: 3rem;
}

.grid-p {
  padding-left: 5rem;
}

.grid-partner {
  justify-self: center;
}

.grid-volunteer {
  justify-self: center;
}

/* BUTTONS AT THE TOP OF THE PAGE */
.btn,
.link-more {
  white-space: nowrap;
}

.humanitarian-center-info-long {
  max-width: max-content;
}

/* Modals */
.modal {
  position: fixed;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100rem;
  height: 60rem;
  margin: 0 auto;
  padding: 4rem 5rem;
  font-weight: 400;
  color: var(--black);
  background-color: var(--basic-white);
  border-radius: 5px;
  border: 1px solid var(--violet-main);
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  transform: translateY(-50%);
  z-index: 15;
}

.modal-donation {
  display: none;
  background: radial-gradient(
    circle at bottom 50px right 100px,
    rgba(151, 162, 225, 1) 30%,
    rgba(255, 255, 255, 1) 70%
  );
}

.modal-close {
  position: absolute;
  top: 3.6rem;
  right: 5rem;
  width: 4.2rem;
  height: 4.2rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.modal-intro {
  margin: 0;
  margin-bottom: 3rem;
  font-family: Aqum, "Comic Sans", cursive;
  font-size: 2.5rem;
}

fieldset {
  margin-bottom: 3rem;
  padding: 0;
  border: 0;
}

legend {
  margin-bottom: 2.4rem;
}

.user-data {
  margin: 0;
}

.amount-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 10.5rem;
  row-gap: 1.6rem;
}

.amount-btn {
  min-width: 13.6rem;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--dark-gray);
  background-color: var(--basic-white);
  box-sizing: border-box;
}

.another-amount-btn {
  min-width: 39rem;
}

.user-data {
  display: flex;
  justify-content: space-between;
  column-gap: 11.8rem;
}

.form-input {
  border-radius: 0.4rem;
  border: 0.1rem solid var(--dark-gray);
}

.form-checkboxes label {
  font-size: 1.6rem;
}

.pay-methods {
  float: right;
}

.pay-methods img:not(:last-child) {
  margin-right: 2.6rem;
}

.modal-volunteer {
  display: none;
  background: radial-gradient(
    circle at bottom 70px left 100px,
    rgba(151, 162, 225, 1) 30%,
    rgba(255, 255, 255, 1) 70%
  );
}

.modal-volunteer .modal-intro {
  line-height: 3.6rem;
}

.modal-volunteer .modal-text {
  margin-bottom: 2.5rem;
  color: var(--basic-black);
}

.volunteer-phone {
  margin-bottom: 7rem;
}

.modal-volunteer .agreement {
  padding-left: 4.5rem;
}

.modal-cookies {
  display: none;
  max-width: 83.9rem;
  max-height: 25rem;
  background: url("../assets/images/content/bg-modal-heart.png") top 8px left
      22px/ 104px 104px no-repeat,
    radial-gradient(
      circle at bottom -185px left 40%,
      #daf1a0 55%,
      rgba(255, 255, 255, 1) 80%
    );
}

.cookies-text {
  margin: 0;
  margin-bottom: 3rem;
}

.cookies-btn {
  display: block;
  margin: 0 auto;
  color: var(--violet-main);
  background-color: var(--basic-white);
  border: 0.3rem solid var(--violet-main);
}
/* Modals end */

/* Responses */
.modal-response {
  padding-left: 13.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: url("../assets/images/content/bg-modal-heart.png") top 165px left
      70px/ 250px 250px no-repeat,
    radial-gradient(
      circle at bottom 10px left 100px,
      rgba(151, 162, 225, 1) 37%,
      rgba(255, 255, 255, 1) 73%
    );
}

.modal-response-partner {
  display: none;
}

.modal-response-tohelp {
  display: none;
}

.modal-response-gethelp {
  display: none;
}

.modal-response-volunteer {
  display: none;
}

.response-text {
  margin: 0;
  margin-bottom: 1.2rem;
  font-family: Aqum, "Comic Sans", cursive;
  font-size: 2.8rem;
  line-height: 3.6rem;
}

/* Media queries */
@media (max-width: 1600px) {
  .container {
    max-width: 124rem;
  }

  .phone-link {
    margin-right: 3.9rem;
  }

  .social-link-telegram {
    margin-right: 2rem;
  }

  .nav-container {
    column-gap: 4.4rem;
  }

  .tohelp-btn {
    padding-inline: 3.9rem;
  }

  .slide {
    column-gap: 4.5rem;
    justify-content: unset;
  }

  .slider-nav {
    bottom: -1.7rem;
  }

  .slide-wrap {
    margin: 4rem;
  }

  .article-content {
    width: 42.1rem;
  }

  .team-members {
    column-gap: 2rem;
  }

  .team-member:first-child {
    margin-left: calc((1240px - 50px - (400px * 2)) / 2);
  }

  .team-member:nth-child(3) {
    margin-left: calc((1240px - (50px * 2) - (400px * 3)) / 2);
  }

  .cards-swiper {
    flex-wrap: nowrap;
    column-gap: 5.3rem;
  }

  .contacts-info {
    column-gap: 9rem;
  }

  .scroll-up {
    bottom: 12rem;
    right: 10.5rem;
  }

  .grid-pic1 {
    grid-column: 1/-1;
    text-align: center;
  }

  .grid-pic1 img {
    width: 70%;
  }

  .grid-pic2 {
    display: none;
  }
}

@media (max-width: 1269px) {
  .container {
    max-width: 76.9rem;
    box-sizing: content-box;
  }

  .page-nav {
    padding: 1rem;
  }

  .mob-hide {
    display: none;
  }
  /* Mobile menu styles*/
  .mobile-menu .logo {
    margin-bottom: 5rem;
  }

  .mobile-menu {
    position: absolute;
    top: 6px;
    left: 50%;
    min-width: 35rem;
    padding-top: 2rem;
    padding-bottom: 5.1rem;
    background-color: var(--violet-pastel);
    border: 0.3rem solid var(--outline-btn-hover);
    border-radius: 1rem;
    transform: translateX(-50%);
    z-index: 10;
  }

  .mobile-menu-list {
    grid-column: 1 / -1;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 2.1rem;
    list-style: none;
  }

  .mobile-menu-link {
    font-family: Aqum, "Comic Sans", cursive;
    color: var(--basic-white);
    text-decoration: none;
  }

  .mobile-menu .email-link {
    text-transform: lowercase;
    text-decoration: underline;
  }

  .mobile-menu .tohelp-btn {
    grid-column: 1 / -1;
    text-align: center;
  }
  /* Mobile menu styles ends*/

  .links-bar-link {
    padding-top: 3.2rem;
  }

  .email-link {
    margin-right: 0;
  }

  .phone-link {
    margin-right: 0;
  }

  .social-link-telegram {
    margin-right: 1.7rem;
  }

  .nav-item {
    margin-right: 1rem;
  }

  .nav-item {
    margin-bottom: 1rem;
  }

  .tohelp-btn {
    align-self: center;
  }

  .tohelp-title {
    font-size: 5rem;
    line-height: 100%;
  }

  .slide {
    flex-direction: column;
    row-gap: 20px;
  }

  .article-img {
    width: 90%;
    height: 90%;
  }

  .article-content {
    width: 90%;
  }

  .links-list {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 2.6rem;
    column-gap: 9px;
  }

  .section-title {
    font-size: 4rem;
  }

  .section-intro {
    font-size: 2rem;
  }

  .section-title-small {
    font-size: 3rem;
  }

  .team-members {
    justify-content: center;
  }

  .team-member:first-child {
    margin-left: 0;
  }

  .team-member:nth-child(3) {
    margin-left: 0;
  }

  .cards-swiper {
    row-gap: 2rem;
    column-gap: 2rem;
  }

  .cta-btns {
    justify-content: space-between;
    column-gap: 0;
  }

  .forpartners-cta-block {
    column-gap: 0;
    row-gap: 2rem;
    flex-wrap: wrap;
  }

  .contacts-info {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 2rem;
  }

  .contacts-map {
    grid-column: 1 / span 1;
    grid-row: 2 / 3;
  }

  .kind-heart-contacts {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: start;
    padding-left: 5rem;
  }

  .humanitarian-center-contacts {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    justify-self: start;
    padding-left: 5rem;
  }

  .socials {
    justify-self: start;
    padding-left: 5rem;
  }

  .footer-container {
    column-gap: 5rem;
  }

  .copyright {
    align-self: flex-start;
  }

  .copyright-pic {
    margin: 0;
  }

  .footer-nav-item {
    flex-basis: 45%;
  }

  .scroll-up {
    right: 4.5rem;
  }
  /* About-page */
  .inner .page-nav {
    display: block;
    top: 0;
  }

  .logo {
    text-decoration: none;
  }

  .inner .burger {
    display: block;
    justify-self: end;
  }

  .inner .page-content {
    padding-top: 8.5rem;
  }

  .inner .intro-description {
    grid-template-columns: 1fr;
  }

  .inner .intro-img {
    margin-bottom: 2rem;
    grid-column: auto;
    grid-row: auto;
  }

  .intro-goal-and-mission {
    grid-column: auto;
    grid-row: auto;
    margin-bottom: 5rem;
  }

  .inner .link-more {
    display: block;
    text-align: right;
  }

  .inner .volunteer-btn {
    justify-self: center;
    align-self: center;
  }

  .btns-block,
  .events .btns-block {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    row-gap: 5rem;
  }

  .btns-block .link-more {
    align-self: end;
  }

  .programms-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .section-img-block {
    display: none;
  }

  .programms-img {
    grid-row: 3 / 4;
    text-align: center;
  }

  .text-block-1 {
    grid-column: auto;
  }

  .text-block-2 {
    grid-column: auto;
    grid-row: auto;
  }

  .gratitudes-container {
    row-gap: 5.7rem;
  }

  .gratitudes .volunteer-btn {
    display: block;
  }
  /* humanitarian page */
  .humanitarian-title {
    font-size: 3.5rem;
  }

  .video-humanitarian,
  .video-events {
    max-width: 64rem;
    max-height: 43rem;
  }

  .btn-grid-container {
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }

  .grid-knowmore {
    grid-row: 1 / 2;
  }

  .humanitarian-container {
    position: relative;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-p {
    padding-left: 0;
  }

  .grid-addr {
    justify-self: start;
  }

  .grid-pic1 {
    grid-row: 2 / 3;
  }

  .grid-pic2 {
    display: none;
  }

  .humanitarian-center .grid-knowmore {
    position: absolute;
    right: 4.5rem;
    bottom: 41.5rem;
  }
}

@media (min-width: 769px) and (max-width: 775px) {
  .nav-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .page {
    scroll-padding-top: 10rem;
  }

  .page-body {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .page-body.no-scroll {
    overflow-y: hidden;
  }

  .container {
    max-width: 35rem;
  }

  .header-container {
    grid-template-columns: 180px 1fr;
  }

  .page-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--basic-white);
  }

  .header-links-bar {
    display: none;
  }

  .page-nav {
    display: none;
    padding: 2rem;
  }

  .burger {
    display: block;
    width: 4.2rem;
    height: 4.2rem;
    justify-self: end;
    cursor: pointer;
  }

  .burger.closed {
    display: none;
  }

  .burger-close {
    display: none;
  }

  .burger-close.showed {
    display: block;
  }

  .mobile-menu .email-link {
    font-family: Roboto, Helvetica, sans-serif;
    text-transform: lowercase;
    text-decoration: underline;
  }

  .mobile-menu-item-socials {
    display: flex;
    margin-bottom: 5rem;
  }

  .mobile-menu-item-socials .social-link-vkontakte {
    padding: 0;
  }

  .section-title {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: 1.5rem;
  }

  .tohelp-title {
    font-size: 3rem;
    line-height: 3rem;
  }

  .section-intro {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .humanitarian-title,
  .section-title-small {
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: left;
  }

  button[type="submit"] {
    justify-self: auto;
  }

  .agreement {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .team-title {
    text-align: center;
  }

  .team-intro {
    text-align: left;
  }

  .cta-block {
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  .card:nth-child(2) {
    display: none;
  }

  .gratitude-text {
    display: block;
    font-size: 2rem;
    font-family: Aqum, "Comic Sans", cursive;
    font-weight: 900;
    line-height: 2.4rem;
  }

  .cta-btns .partner-btn {
    display: none;
  }

  .forpartners-title {
    margin-bottom: 1rem;
  }

  .forpartners-intro {
    margin-bottom: 2rem;
    padding-left: 2.1rem;
  }

  .forpartners-cta-block .cta-text {
    min-width: 100%;
  }

  .cta-subtitle {
    margin-bottom: 2.5rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .contacts-info {
    grid-template-columns: 1fr;
    justify-content: start;
  }

  .kind-heart-contacts {
    padding-left: 0;
  }

  .humanitarian-center-contacts {
    padding-left: 0;
  }

  .socials {
    padding-left: 0;
  }

  .footer-nav-link {
    font-size: 1.4rem;
    font-family: Roboto, Helvetica, sans-serif;
    line-height: 1.6rem;
  }

  .inner .page-nav {
    display: block;
    top: 0;
  }

  .page-title {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .inner .logo {
    text-decoration: none;
  }

  .humanitarian-intro {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .video-humanitarian,
  .video-events {
    max-width: 35rem;
    max-height: 22.1rem;
  }

  .btn-grid-container {
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }

  .grid-knowmore {
    grid-row: 1 / 2;
    justify-self: end;
  }

  .grid-pic1 img {
    width: 100%;
  }

  .humanitarian-center .grid-knowmore {
    position: absolute;
    right: 1.5rem;
    bottom: 35.5rem;
  }

  .article-img {
    width: 34.9rem;
    height: 28.1rem;
  }

  .article-content {
    width: 34.9rem;
    height: max-content;
  }

  .links-border {
    width: 19.6rem;
    height: 12.3rem;
  }

  .link-bg {
    width: 19rem;
    height: 12.3rem;
  }

  .links-link {
    font-size: 1.6rem;
    line-height: 1.9rem;
    width: 14rem;
    height: 4.6rem;
    padding-top: 4rem;
  }

  .footer-container {
    justify-content: flex-start;
    column-gap: 2rem;
  }

  .footer-nav-list {
    flex-flow: column wrap;
    max-height: 25rem;
  }

  .footer-nav-item {
    order: 0;
  }

  .footer-nav-item:last-child {
    order: 1;
  }

  .footer-nav-item:nth-last-child(2) {
    order: 4;
  }

  .footer-nav-item:nth-last-child(3) {
    order: 3;
  }

  .footer-nav-item:nth-last-child(4) {
    order: 2;
  }

  .fund-name {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .inner .section-title-small {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .text-block-1 .section-text:last-child {
    margin-bottom: 0;
  }

  .programms-container {
    row-gap: 2rem;
  }

  .programms-img img {
    width: 34.3rem;
    height: 19.3rem;
  }

  .text-block-3 {
    flex-direction: column;
  }

  /* Modals */
  .modal {
    width: 35rem;
    height: 30.8rem;
    padding: 2rem;
    box-sizing: content-box;
  }

  .modal-close {
    top: 1rem;
    right: 1rem;
    width: 2.4rem;
    height: 2.4rem;
  }

  .modal-intro {
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  fieldset {
    margin-bottom: 1.2rem;
  }

  legend {
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  .amount-btns {
    column-gap: 2rem;
    row-gap: 1rem;
  }

  .amount-btn {
    min-width: 3.7rem;
    padding: 0.5rem 1rem;
  }

  .user-data {
    flex-direction: column;
    row-gap: 0.8rem;
  }

  .form-input {
    margin-bottom: 0;
    padding-block: 0.5rem;
  }

  .form-checkboxes {
    margin: 0;
  }

  .form-checkboxes label {
    font-size: 1rem;
  }

  .form-checkboxes:last-child {
    margin-bottom: 1.3rem;
  }

  .modal .btn {
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding-inline: 2rem;
    padding-block: 1rem;
  }

  .pay-method {
    width: 3rem;
    height: 1.9rem;
  }

  .pay-methods img:not(:last-child) {
    margin-right: 1rem;
  }

  .modal-volunteer .modal-intro {
    line-height: 1.6rem;
  }

  .modal-volunteer .form-input {
    margin-bottom: 0.5rem;
  }

  .form-input.volunteer-phone {
    margin-bottom: 2rem;
  }

  .modal-volunteer .agreement {
    padding-left: 0;
  }

  .modal-cookies {
    max-width: 27.4rem;
    max-height: 18.5rem;
    background: radial-gradient(
      circle at bottom -185px left 40%,
      #daf1a0 55%,
      rgba(255, 255, 255, 1) 80%
    );
  }

  .cookies-text {
    margin-bottom: 1.4rem;
  }

  .modal-response {
    padding-left: 3.2rem;
    background: url("../assets/images/content/bg-modal-heart.png") top 23px left -7px/
        250px 250px no-repeat,
      radial-gradient(
        circle at bottom 10px left 100px,
        rgba(151, 162, 225, 1) 37%,
        rgba(255, 255, 255, 1) 73%
      );
  }

  .response-text {
    padding-right: 0.5rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
