@import "fonts.css";

/* Variables */
:root {
  /* Colors */
  --basic-black: #2c2b29;
  --basic-white: #fefefe;
  --violet-main: #666fa8;
  --violet-pastel: #97a2e1;
  --violet-blue: #606fc2;
  --dark-gray: #676a74;
  --red: #fb2e42;
  --yellowgreen: rgba(181, 239, 46, 0.7);
}
